*{
	width:100%;
	height:100%;
	background-color:green;
}

.wreper{
	width:1200px;
	height:auto;
	float:left;
	overflow:hidden;
}
.header{
	padding:60px;
	text-align:center;
	background:#ffff;
	color:#000;
	font-size:30px;
}
